[Translation]
File=QtopiaSettings
Context=Date/Time
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Exec=systemtime
Icon=DateTime
Type=Application
Name[]=日期/时间
CanFastload=0
