[Translation]
File=QtopiaSettings
Context=Handwriting
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Icon=recognition_settings
Exec=hwsettings
Name[]=手写
CanFastload=0
Requires=Touchscreen
