[Translation]
File=QtopiaSettings
Context=Light & Power
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=light-and-power
Icon=Light
Name[]=电源管理
CanFastload=0
